<tr>
  <td><%= lesson_counter + 1 %></td>
  <td><%= lesson.name %></td>
  <td><%= lesson.description %></td>
  <td><%= lesson.document.identifier %></td>
  <td>
    <%= link_to "View", lesson_path(lesson), class: "btn btn-info btn-sm" %>
  </td>
</tr>
